@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/flexslider.min.css);
/* ////////////////////////////////////////////////메인 css///////////////////////////////////////////// */
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ffffff;
  letter-spacing: 0;
  line-height: 1.5;
  font-size: 15px;
  color: #444444;
  font-weight: 400;
  font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
}

h1, h2 {
  font-weight: normal;
}

hr{
	 background-color:red;
}

a {
  text-decoration: none !important;
  outline: none;
  white-space: nowrap;
  color: #444444;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}
a:hover {
  color: #31333e;
}

button {
  border-width: 0;
  border-radius: 5px;
  background-color: #00aeff;
  color: #ffffff;
  font-size: 1.375rem;
  cursor: pointer;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}
button:hover {
  background-color: #007ab7;
}

@media (min-width: 600px) {
  button {
    height: 60px;
    padding: 0 25px;
  }
}

.container {
  margin: auto;
  max-width: 1300px;
  width: 100%;
}
#content{
	height:auto;
}
/* ///////////////////////////////header//////////////////////////////////////// */
#header{
	margin:0 0 0 0;
	border-bottom: 1px solid rgba(255,255,255,.2);
	height:130px;
	background-color: #0f0b0b;
}
#search{
	width:100px;
	margin-left:70px;
}
#top-menu{
	width:663px;
}
.logo > span > a {
	color:#503396;
	text-decoration: none;
	font-size:40px;
}
header > .container{
	padding-top: 20px;
}
@media (min-width: 769px) {
  header #responsive-menu-icon {
    display: none;
  }
  header .logo {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  header .logo span {
    font-size: 2.188rem;
  }
  header nav {
    display: flex;
    align-items: center;
    padding: 15px 30px 15px 30px;
    order: 1;
  }
  header nav > .menu-group:not(:first-child) {
    padding: 0 40px 0 40px;
  }
  header nav > .menu-group:first-child {
    padding-right: 40px;
  }
  header nav > .menu-group:not(:last-child) {
    border-right: 2px solid #a1a1a1;
  }
  header nav > .menu-group:hover > .sub-menu {
    display: block;
    position: absolute;
  }
  header nav > .menu-group:hover > .sub-menu:before {
    content: "";
    display: block;
    height: 15px;
  }
  header nav > .menu-group:hover > .sub-menu > a:first-child:before {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    content: '';
    position: absolute;
    left: 30px;
    top: 7px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #e2e7ed;
  }
  header nav > .menu-group:hover > .sub-menu > a:hover:first-child:before {
    border-bottom: 8px solid #00aeff;
  }
  header nav > .menu-group:hover > .sub-menu > a:not(:last-child) {
    border-bottom: 1px solid #31333e;
  }
  header nav > .menu-group > a {
    font-size:25px;
    font-weight:900;
    color: #626262;
  }
  header nav > .menu-group a:hover {
    color: #66ceff;
    text-decoration: none;
  }
  header nav > .menu-group .sub-menu {
    display: none;
  }
  header nav > .menu-group .sub-menu a {
    background-color: #e2e7ed;
    color: #000000;
    padding: 12px 15px;
    display: block;
  }
  header nav > .menu-group .sub-menu a:hover {
    background-color: #00aeff;
    color: #ffffff;
  }

  .slider {
    height: 650px;
  }

  footer nav > a:not(:last-child):after {
    margin: 0 15px;
  }
}
@media (min-width: 769px) and (max-width: 980px) {
  nav {
    flex-basis: 100%;
  }
}
@media (min-width: 981px) {
  header .container .logo {
    margin-right: 50px;
  }
  header .container .search-box {
    order: 2;
    flex-basis: 155px;
  }
}
.top-menu-one{
	list-style-type: none;
    position: relative;
    left: 332px;
    top: -10px;
    display: inline;
}
.top-menu-two{
	list-style-type: none;
    position: relative;
    right: 300px;
    top: -10px;
    display: inline;
}
.top-menu-one > li{
	float: left;
    margin-right: 10px;
    border-right: 1px solid black;
    padding-right: 10px;
    margin-top: 10px;
    color:black;
}
.top-menu-two > li{
	float: right;
    margin-right: 10px;
    border-right: 1px solid black;
    padding-right: 10px;
    margin-top: 10px;
    color:black;
}
.top-menu-one > li > a {
	text-decoration: none;
	color:#888888;
}
.top-menu-two > li > a {
	text-decoration: none;
	color:#888888;
}

header{
	background-color:#0f0b0b;
	margin:0;
	padding-top:20px;
}
header > .container {
  display: flex;
  justify-content: space-between;
  background-color:block;
  flex-wrap: wrap;
  padding-top: 20px;
}
header > .container .logo {
  order: -1;
}
header > .container .logo > span {
  margin-left: 10px;
  font-weight: bold;
  letter-spacing: -2px;
  color: #31333e;
}
header > .container #responsive-menu-icon {
  align-self: flex-end;
  padding: 0;
  height: 35px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
header > .container #responsive-menu-icon .menu-box {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
}
header > .container #responsive-menu-icon .menu-box .menu-inner, header > .container #responsive-menu-icon .menu-box .menu-inner:before, header > .container #responsive-menu-icon .menu-box .menu-inner:after {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #626262;
  border-radius: 4px;
}
header > .container #responsive-menu-icon .menu-box .menu-inner:before {
  content: '';
  top: 7px;
}
header > .container #responsive-menu-icon .menu-box .menu-inner:after {
  content: '';
  top: 14px;
}
header > .container #responsive-menu-icon.open-menu .menu-inner, header > .container #responsive-menu-icon.open-menu .menu-box .menu-inner:before, header > .container #responsive-menu-icon.open-menu .menu-box .menu-inner:after, header > .container #responsive-menu-icon.open-menu .menu-inner:before, header > .container #responsive-menu-icon.open-menu .menu-inner:after {
  background-color: #66ceff;
}
header > .container nav .menu-group > a {
  color: #626262;
  text-transform: uppercase;
}
header > .container nav .menu-group > a:hover {
  color: #66ceff;
}
header > .container nav .sub-menu {
  display: none;
  width: 150px;
}
header > .container .search-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
}
header > .container .search-box form {
  position: relative;
}
header > .container .search-box .stretch, header > .container .search-box input[type="text"]:focus {
  width: 120px !important;
  background-color: #d8f3ff !important;
}
header > .container .search-box input {
  border: none;
  outline: none;
}
header > .container .search-box input[type="text"] {
  width: 80px;
  height: 30px;
  font-style: italic;
  padding: 0 25px 0 9px;
  background-color: #f1f3f6;
  border-radius: 2px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
header > .container .search-box input[type="submit"] {
  background: url(../img/search-icon.png) no-repeat;
  position: absolute;
  top: 3px;
  right: 5px;
  width: 20px;
  height: 24px;
  cursor: pointer;
}

/* ///////////////////////////////////////////////////////// */

/* //////////////////////////home/////////////////////////// */

.flexslider {
  background: none !important;
  border: none !important;
}
.flexslider .slides img {
  max-width: 700px;
  margin: auto;
}
.flexslider .flex-prev,
.flexslider .flex-next {
  font-size: 0;
}

.slider {
  background-color: #120c0b;
}

.slider .container > .slider-header {
  padding: 60px 0 10px 0;
  text-align: center;
}

.slider .container > .slider-header h2{
  color: #ffffff;
  margin: 0 5px 10px 0;
  padding-bottom:5px;
}

.home-movie-btn1{
	height: 30px;
    padding: 0 !important;
    width: 33%;
}

.home-movie-btn1 > img{
	width:40%
}

.home-movie-btn2{
	padding: 0 !important;
    height: 30px;
    width: 64%;
    margin-left: 2px;
}

.thumbnail{
	margin-bottom:10px !important;
	padding: 0;
}

.thumbnail > img{
	height:300px;
	margin: 0;
    width: 100%;
}

.movie-search-row.row{
	margin-top:20px;
	padding-top:20px;
	background-color:#150f10;
	border-bottom:none;
}

.movie-search-row.row > div{
	border-right:1px solid white;
	text-align:center
}

.movie-search-row-div > input{
	width: 80%;
	BORDER-BOTTOM: teal 1px solid;
	BORDER-LEFT: medium none;
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
	background-color: #120c0b;
	font-size: 22px;
}

.movie-search-row-div > button{
    padding: 0 !important;
    width: 16%;
    height: 0px;
}

.movie-search-row-div > button > span{
	font-size:30px;
}

.movie-search-row-div > p{
	display: inline-block;
	font-size:30px;
	position: relative;
    bottom: 5px;
    margin: 0;
}

.movie-search-row > .col-md-3:first-child{
	height: 38px;
}
/*home.jsp grid*/
.main-grid .img-responsive {
    margin-bottom: 30px;
}
.main-grid::before{
	position: absolute;
    left: 0;
    top: 1378px;
    display: block;
    width: 100%;
    height: 80%;
    background-color: #503396;
}
.main-grid h2{
	font-size: 3em;
    color: #351f66 !important;
    margin: 60px 0 30px 0;
    line-height: 1.1;
}
.row .col-sm-6{
	border-bottom:none;
}
.carousel.slide{
	height: 390px;
}
/*////////////*/
/*home.jsp grid 밑에*/
.menu-link{
	float: left;
	width: 20%;
	text-align: center;
}
.menu-link > span{
	font-size: 90px;
	left:5px;
	color: #ffffff;
}

.menu-link > a{
    display: block;
    font-size: 15px;
    position: relative;
    left: 5px;
    color: #ffffff;
}

.row.col-sm-8 > .col-xs-3,.row.col-sm-8 > .col-xs-6{
	padding: 0 0 10px 10px;
    margin: 0;
}

.row.col-sm-8 > .col-xs-3 > img{
	width: 420px;
    margin: 0;
}
.row.col-sm-8 > .col-xs-6>img{
	width: 420px;
	height: fit-content;
    margin: 0;
}

.row.col-sm-8 > .col-xs-8,.row.col-sm-8 > .col-xs-4{
	margin: 0;
	padding: 0 0 0 10px;
}

.row.col-sm-8 > .col-xs-8 > img ,.row.col-sm-8 > .col-xs-4 > img{
	margin: 0;
    height: fit-content;
    width: 100%;
}
.container.main-grid .row {
	border-bottom:none;
	
}

.
/*//////////////*/
/*main-section3*/
.main-section3{
	height:1000px
}
.main-section3::before{
	position: absolute;
    left: 0;
    top: 2300px;
    display: block;
    width: 100%;
    height: 20%;
    background-color: #252451;
}
.main-section3 > .col-md-2{
	background-image: url("../logo/clock.png");
	background-repeat:no-repeat;
}

/*//////////////////*/

/* /////////////////////////////////////////////////////////////// */
/* FOOTER.SCSS */
footer {
  background-color: #31333e;
  min-height: 210px;
  font-size: 0.9375rem;
  color: #cacfd6;
}
footer > .container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 25px;
}
footer > .container > div > nav > a {
  color: #cacfd6;
}
footer > .container > div > nav > a:hover {
  color: #66ceff;
}
footer > .container > div > nav > a:not(:last-child):after {
  content: "";
  border-right: 2px solid #cacfd6;
}
footer > .container > div .social-icons img {
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}
footer > .container > div .social-icons img:hover {
  opacity: .7;
  filter: alpha(opacity=70);
}
footer > .container > div .social-icons > a:not(:last-child) {
  margin-right: 11px;
}
footer > .container > div > * {
  padding-top: 25px;
}