@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400i,700);
@import url(https://cdnjs.cloudflare.com/ajax/libs/flexslider/2.6.3/flexslider.min.css);
/* ////////////////////////////////////////////////메인 css///////////////////////////////////////////// */
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ffffff;
  letter-spacing: 0;
  line-height: 1.5;
  font-size: 15px;
  color: #444444;
  font-weight: 500;
  font-family: NanumBarunGothic,Dotum,'돋움',sans-serif;
}

h1, h2 {
  font-weight: normal;
}

hr{
	 background-color:red;
}

a {
  text-decoration: none !important;
  outline: none;
  white-space: nowrap;
  color: #444444;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}
a:hover {
  color: #31333e;
}

button {
  border-width: 0;
  border-radius: 5px;
  background-color: #00aeff;
  color: #ffffff;
  font-size: 1.375rem;
  cursor: pointer;
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}
button:hover {
  background-color: #007ab7;
}

@media (min-width: 600px) {
  button {
    height: 60px;
    padding: 0 25px;
  }
}

.container {
  margin: auto;
  max-width: 1300px;
  width: 100%;
}

#content{
	height:auto;
	margin-top:200px;
}

/* ///////////////////////////////header//////////////////////////////////////// */
#header{
	margin:0 0 0 0;
	height:130px;
	z-index: 999;
    position: absolute;
    top: 0;
    text-align: center;
    width: 100%;
}
#search{
	width:100px;
	margin-left:70px;
}
#top-menu{
	width:663px;
}
.logo > span > a {
	color:#503396;
	text-decoration: none;
	font-size:40px;
}
header > .container{
	padding-top: 20px;
}
@media (min-width: 769px) {
  header #responsive-menu-icon {
    display: none;
  }
  header .logo {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  header .logo span {
    font-size: 2.188rem;
  }
  header nav {
    display: flex;
    align-items: center;
    padding: 15px 30px 15px 30px;
    order: 1;
  }
  header nav > .menu-group:not(:first-child) {
    padding: 0 40px 0 40px;
  }
  header nav > .menu-group:first-child {
    padding-right: 40px;
  }
  header nav > .menu-group:not(:last-child) {
    border-right: 2px solid #a1a1a1;
  }
  header nav > .menu-group:hover > .sub-menu {
    display: block;
    position: absolute;
  }
  header nav > .menu-group:hover > .sub-menu:before {
    content: "";
    display: block;
    height: 15px;
  }
  header nav > .menu-group:hover > .sub-menu > a:first-child:before {
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    content: '';
    position: absolute;
    left: 30px;
    top: 7px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #e2e7ed;
  }
  header nav > .menu-group:hover > .sub-menu > a:hover:first-child:before {
    border-bottom: 8px solid #00aeff;
  }
  header nav > .menu-group:hover > .sub-menu > a:not(:last-child) {
    border-bottom: 1px solid #31333e;
  }
  header nav > .menu-group > a {
    font-size:25px;
    font-weight:900;
    color: #626262;
  }
  header nav > .menu-group a:hover {
    color: #66ceff;
    text-decoration: none;
  }
  header nav > .menu-group .sub-menu {
    display: none;
  }
  header nav > .menu-group .sub-menu a {
    background-color: #e2e7ed;
    color: #000000;
    padding: 12px 15px;
    display: block;
  }
  header nav > .menu-group .sub-menu a:hover {
    background-color: #00aeff;
    color: #ffffff;
  }

  .slider {
    height: 650px;
  }

  footer nav > a:not(:last-child):after {
    margin: 0 15px;
  }
}
@media (min-width: 769px) and (max-width: 980px) {
  nav {
    flex-basis: 100%;
  }
}
@media (min-width: 981px) {
  header .container .logo {
    margin-right: 50px;
  }
  header .container .search-box {
    order: 2;
    flex-basis: 155px;
  }
}
.top-menu-one{
	list-style-type: none;
    position: relative;
    left: 328px;
    top: -5px;
    display: inline;
}
.top-menu-two{
	list-style-type: none;
    position: relative;
    right: 290px;
    top: -5px;
    display: inline;
}
.top-menu-one > li{
	float: left;
    margin-right: 10px;
    border-right: 1px solid black;
    padding-right: 10px;
    margin-top: 10px;
    color:black;
}
.top-menu-two > li{
	float: right;
    margin-right: 10px;
    border-right: 1px solid black;
    padding-right: 10px;
    margin-top: 10px;
    color:black;
}
.top-menu-one > li > a {
	text-decoration: none;
	color:#888888;
}
.top-menu-two > li > a {
	text-decoration: none;
	color:#888888;
}

header{
	margin:0;
	padding-top:20px;
}
header > .container {
  width: 1300px;
  display: flex;
  justify-content: space-between;
  background-color:block;
  flex-wrap: wrap;
  padding-top: 20px;
}
header > .container .logo {
  order: -1;
}
header > .container .logo > span {
  margin-left: 10px;
  font-weight: bold;
  letter-spacing: -2px;
  color: #31333e;
}
header > .container #responsive-menu-icon {
  align-self: flex-end;
  padding: 0;
  height: 35px;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}
header > .container #responsive-menu-icon .menu-box {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 20px;
}
header > .container #responsive-menu-icon .menu-box .menu-inner, header > .container #responsive-menu-icon .menu-box .menu-inner:before, header > .container #responsive-menu-icon .menu-box .menu-inner:after {
  display: block;
  position: absolute;
  width: 30px;
  height: 2px;
  background-color: #626262;
  border-radius: 4px;
}
header > .container #responsive-menu-icon .menu-box .menu-inner:before {
  content: '';
  top: 7px;
}
header > .container #responsive-menu-icon .menu-box .menu-inner:after {
  content: '';
  top: 14px;
}
header > .container #responsive-menu-icon.open-menu .menu-inner, header > .container #responsive-menu-icon.open-menu .menu-box .menu-inner:before, header > .container #responsive-menu-icon.open-menu .menu-box .menu-inner:after, header > .container #responsive-menu-icon.open-menu .menu-inner:before, header > .container #responsive-menu-icon.open-menu .menu-inner:after {
  background-color: #66ceff;
}
header > .container nav .menu-group > a {
  color: #626262;
  text-transform: uppercase;
}
header > .container nav .menu-group > a:hover {
  color: #66ceff;
}
header > .container nav .sub-menu {
  display: none;
  width: 150px;
}
header > .container .search-box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 10px 0;
}
header > .container .search-box form {
  position: relative;
}
header > .container .search-box .stretch, header > .container .search-box input[type="text"]:focus {
  width: 120px !important;
  background-color: #d8f3ff !important;
}
header > .container .search-box input {
  border: none;
  outline: none;
}
header > .container .search-box input[type="text"] {
  width: 80px;
  height: 30px;
  font-style: italic;
  padding: 0 25px 0 9px;
  background-color: #f1f3f6;
  border-radius: 2px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}
header > .container .search-box input[type="submit"] {
  background: url(../img/search-icon.png) no-repeat;
  position: absolute;
  top: 3px;
  right: 5px;
  width: 20px;
  height: 24px;
  cursor: pointer;
}

/* ///////////////////////////////////////////////////////// */

/* //////////////////////////home/////////////////////////// */
.test-controller{
	top: 350px;
    position: relative;
    background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 1) 100%);
}

.main-slide:after{
	content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 140px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 1) 100%);
}

.header-before{
	content: "";
    position: absolute;
    z-index: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 140px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 1) 100%);
}

.main-indicators{
	top: 165%;
}

.main-control{
	top: 100%;
}
.flexslider {
  background: none !important;
  border: none !important;
}
.flexslider .slides img {
  max-width: 700px;
  margin: auto;
}
.flexslider .flex-prev,
.flexslider .flex-next {
  font-size: 0;
}

.slider {
  background-color: #120c0b;
  position: absolute;
  bottom: 180px;
  z-index: 1;
}

.slider .container > .slider-header {
  padding: 60px 0 10px 0;
  text-align: center;
}

.slider .container > .slider-header h2{
  color: #ffffff;
  margin: 0 5px 10px 0;
  padding-bottom:5px;
}

.home-movie-btn1{
	height: 30px;
    padding: 0 !important;
    width: 33%;
}

.home-movie-btn1 > img{
	width:40%
}

.home-movie-btn2{
	padding: 0 !important;
    height: 30px;
    width: 64%;
    margin-left: 2px;
}

.thumbnail{
	margin-bottom:10px !important;
	padding: 0;
}

.thumbnail > img{
	height:300px;
	margin: 0;
    width: 100%;
}

.movie-search-row.row{
	margin-top:20px;
	padding-top:20px;
	border-bottom:none;
}

.movie-search-row.row > div{
	border-right:1px solid white;
	text-align:center
}

.movie-search-row-div > input{
	width: 80%;
	BORDER-BOTTOM: teal 1px solid;
	BORDER-LEFT: medium none;
	BORDER-RIGHT: medium none;
	BORDER-TOP: medium none;
	background: transparent;
	font-size: 17px;
}

.movie-search-row-div > button{
    padding: 0 !important;
    width: 16%;
    height: 0px;
}

.movie-search-row-div > button > span{
	font-size: 25px;
    top: -1px;
}

.movie-search-row-div > p{
	display: inline-block;
	font-size: 20px;
	position: relative;
    bottom: 5px;
    margin: 0;
}
.movie-search-row > .col-md-3:first-child{
	height: 38px;
}
/* layout 모달 */

.layout-modal-content{
	width: fit-content;
    height: fit-content;
}

.layout-modal-body{
	width: fit-content !important;
    height: fit-content !important;
}

.layout-modal-footer{
	text-align:left;
	font-size: 2em;
}

.modal-backdrop.in{
	position:absolute;	
}

/*///*/

/*home.jsp grid*/

.section2{
	position: relative;
    top: 1500px;
}

.main-grid{
	height: 3000px;
}

.main-grid hr{
	margin:0;
}


.carousel-control{
	background-image:none !important;
}

.main-grid .img-responsive {
    margin-bottom: 30px;
}
.main-grid::before{
	position: absolute;
    left: 0;
    top: 500px;
    display: block;
    width: 100%;
    height: 28%;
    background-color: #503396;
}
.main-grid h2{
	font-size: 3em;
    color: #351f66 !important;
    margin: 60px 0 30px 0;
    line-height: 1.1;
}
.row .col-sm-6{
	border-bottom:none;
}
.carousel.slide{
	height: 390px;
}
/*////////////*/
/*home.jsp grid 밑에*/
.menu-link{
	padding-top: 40px;
	float: left;
	width: 20%;
	text-align: center;
}
.menu-link > a >  span{
	left:5px;
	color: #ffffff;
	font-size: 110px;
}

.menu-link > a{
    display: block;
    font-size: 15px;
    position: relative;
    left: 5px;
    color: #ffffff;
}

.row.col-sm-8 > .col-xs-3,.row.col-sm-8 > .col-xs-6{
	padding: 0 0 10px 10px;
    margin: 0;
}

.row.col-sm-8 > .col-xs-3 > img{
	width: 420px;
    margin: 0;
}
.row.col-sm-8 > .col-xs-6>img{
	width: 100%;
    height: 282px;
    margin: 0;
}

.row.col-sm-8 > .col-xs-8,.row.col-sm-8 > .col-xs-4{
	margin: 0;
	padding: 0 0 0 10px;
}

.row.col-sm-8 > .col-xs-8 > img ,.row.col-sm-8 > .col-xs-4 > img{
	margin: 0;
    height: fit-content;
    width: 100%;
}
.container.main-grid .row {
	border-bottom:none;
}

.new-branch-info{
	margin-right: 70px; 
	margin-left: 25px;
}

.new-branch-info > a > p{
	color: #ffffff;
	z-index: 10; 
	position: relative; 
	top: 85px; 
	text-align: center;
}

.new-branch-info > a > p > span{
	font-size: 1.3em;
	display: block
}

.new-branch-info > a > p > strong{
	font-size: 2em;
}

.new-branch-info > a > img{
	border:1px solid #503396; 
	border-radius: 50%; 
	opacity: 0.5; 
	box-shadow: 2px 2px 5px #999; 
	width: 290px;
    height: 250px;
	position: absolute; 
	left: 0; 
	top: 0; 
	z-index: 1;
}

.
/*//////////////*/
/*main-section3*/
.main-section3{
	height:1000px;
}
/* .main-section4::before{ */
/* 	position: absolute; */
/*     left: 0; */
/*     top: 2890px; */
/*     display: block; */
/*     width: 100%; */
/*     height: 700px; */
/*     background-color: #252451; */
/* } */

.container.main-section3{
	padding-top: 157px;
}

.container.main-section3 > div > .col-lg-4 > img{
	margin-top: 50px;
	width: 100%;
    border: 1px solid black;
    height:600px;
    border-radius: 15px;
}

.section3-button-one{
	width:34%;
	height:40px;
	background: #252451;
    border: 1px solid #ffffff;
}
.section3-button-two{
	width:64%;
	height:40px;
}

.container.main-section3 > div > .col-lg-4 > ul{
	list-style: none;
}

.container.main-section3 > div > .col-lg-4 > ul > li{
	display
}

.container.main-section3 > div > .col-lg-8{
	
}
.container.main-section3 > div > .col-lg-8 > div{
	margin-top:10px;
}

.main-section3 h2{
	position:relative;
	margin: 60px 0 30px 0;
    line-height: 1.1;
    color: #ffffff;
    font-size: 3em;
}
/*////////////////////////container main-section4////////////////////////////*/
.main-section4{
	margin-bottom: 50px;
}
.main-section4 h2{
	font-size: 3em;
    color: #351f66 !important;
    margin: 60px 0 30px 0;
    line-height: 1.1;
}
.main-section4 hr{
	margin-bottom: 40px;
}

.main-section4-rowtwo div,.main-section4-rowone div p{
	text-align:center;
	margin-bottom:0;
}
.main-section4-rowone{
	border-top: 1px solid #e2e2e2;
	border-bottom: 1px solid #e2e2e2;
	padding:20px 0!important;
}
.main-section4-rowone div:nth-child(1){
	border-right: 1px solid #e2e2e2;
}
.main-section4-rowone div:nth-child(3){
	border-left: 1px solid #e2e2e2;
}

/*/////////////////////////////////////////////////////*/
/*review*/
.timeline {
    position: relative;
    padding:4px 0 0 0;
    margin-top:22px;
    list-style: none;
}

.timeline>li:nth-child(even) {
    position: relative;
    margin-bottom: 50px;
    height: 194px;
    right: -96px;
}

.timeline>li:nth-child(odd) {
    position: relative;
    margin-bottom: 50px;
    height: 193px;
    left: -142px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
    min-height: 170px;
}

.timeline > li .timeline-panel {
  position: relative;
  float: left;
  left: 167px;
  width: 41%;
  padding: 0 52px 20px 30px;
  text-align: right;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .timeline-image {
    z-index: 100;
    position: absolute;
    left: 50%;
    border: 7px solid #3b5998;
    border-radius: 100%;
    background-color: #3b5998;
    box-shadow: 0 0 5px #4582ec;
    width: 200px;
    height: 200px;
    margin-left: 80px;
}

.timeline>li .timeline-image h4 {
    margin-top: 12px;
    font-size: 10px;
    line-height: 14px;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    padding: 0 30px 20px 58px;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline .timeline-heading h4 {
  margin-top:22px;
    margin-bottom: 4px;
    padding:0;
    color: #b3b3b3;
}

.timeline .timeline-heading h4.subheading {
  margin:0;
  padding:0;
    text-transform: none;
    font-size:18px;
    color:#333333;
}

.timeline .timeline-body>p,
.timeline .timeline-body>ul {
	
    margin-bottom: 0;
    color:#808080;
}
/*Style for even div.line*/
.timeline>li:nth-child(odd) .line:before {
    content: "";
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 690px;
    width: 4px;
    height:340px;
    background-color: #3b5998;
    -ms-transform: rotate(-44deg); /* IE 9 */
    -webkit-transform: rotate(-44deg); /* Safari */
    transform: rotate(-44deg);
    box-shadow: 0 0 5px #4582ec;
}
/*Style for odd div.line*/
.timeline>li:nth-child(even) .line:before  {
    content: "";
    position: absolute;
    top: 60px;
    bottom: 0;
    left: 450px;
    width: 4px;
    height:340px;
    background-color: #3b5998;
    -ms-transform: rotate(44deg); /* IE 9 */
    -webkit-transform: rotate(44deg); /* Safari */
    transform: rotate(44deg);
    box-shadow: 0 0 5px #4582ec;
}
/*//////////////*/


/* /////////////////////////////////////////////////////////////// */
/* FOOTER.SCSS */
footer {
  background-color: #31333e;
  min-height: 210px;
  font-size: 0.9375rem;
  color: #cacfd6;
}
footer > .container > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 25px;
  font-size: 15px;
}
footer > .container > div > nav > a {
  color: #cacfd6;
  font-size: 15px;
}
footer > .container > div > nav > a:hover {
  color: #66ceff;
}
footer > .container > div > nav > a:not(:last-child):after {
  content: "";
  border-right: 2px solid #cacfd6;
}
footer > .container > div .social-icons img {
  transition: all .2s ease;
  -webkit-transition: all .2s ease;
}
footer > .container > div .social-icons img:hover {
  opacity: .7;
  filter: alpha(opacity=70);
}
footer > .container > div .social-icons > a:not(:last-child) {
  margin-right: 11px;
}
footer > .container > div > * {
  padding-top: 25px;
}