@charset "UTF-8";

#signwarp {
	width: 1271px;
	height: 637px;
	margin-left: 336px;
}

.form-group {
	height: 85px;
	margin-bottom: -5px;
}

.form {
	margin-top: 42px;
}
.chek_font{
	color: red;
	font-weight: bold;
}
#birth {
	width: 125px;
}

#gender {
	width: 33px;
}

.note {
	text-align: center;
	height: 80px;
	background: -webkit-linear-gradient(left, #0072ff, #8811c5);
	color: #fff;
	font-weight: bold;
	line-height: 80px;
}

.form-content {
	padding: 5%;
	border: 1px solid #ced4da;
	margin-bottom: 2%;
}

.col-md-6 {
	width: 430px;
	height: 169px;
}

.form-control {
	border-radius: 1.5rem;
}

.btnSubmit {
	border: none;
	border-radius: 1.5rem;
	padding: 1%;
	width: 20%;
	cursor: pointer;
	background: #0062cc;
	color: #fff;
}