@charset "utf-8";
#mypage_wrap{
	border: 1px solid red;
	width: 50%;
	height: 100%;
	margin: auto;
}
#mypage_top_menu ul li{
	display: inline-block;
}
#mypage_top_menu ul li a{
	display: inline-block;
	width: 140px;
	height: 50px;
	text-align: center;
	text-decoration: none;
}
#mypage_top_menu ul li a span{
	font-size: 18px;
	line-height: 50px;
}
